@{
	ViewBag.Title = "За Нас";
}

<style> body { background-image: url('/Content/images/book100.png'); } </style>

<h2>@ViewBag.Title</h2>

<div class="boxing" style="margin-top:20px">

    <p>Ние продаваме електронни книги директно на потребителите чрез eBooks.com</p>
    <p>Ние предлагаме набор от специфични за електронни книги технически услуги на издателите на книги</p>
    <p>Стартирана през 2000 г., eBooks.com е популярен търговец на електронни книги с репутация на иновации, почтеност и независимост. Ние продаваме електронни книги директно на милиони потребители по целия свят, с пет местни портали за продажби в САЩ, Канада, Великобритания, Европа и Австралия.</p>
    <p>Можете да четете нашите електронни книги онлайн или да ги изтегляте на широк спектър от устройства, като използвате нашите приложения за четене на книги.</p>
    <br />

    <h3>Патентован DRM</h3>
    <p>Имаме собствена система за управление на цифровите права, която осигурява защитеното съдържание, доставено чрез нашите приложения за четене на книги от 2007 г. Тя не се основава на Adobe ACS. Наличието на наша собствена DRM система подобрява използваемостта на нашите клиенти и ни дава възможност да реагираме бързо на нови изисквания и тенденции.</p>
    <br />

    <h3>Онлайн (базиран на браузър) приложение за четене</h3>
    <p>Нашият патентован уеб-четец дава възможност на потребителите на настолни компютри незабавно да започнат да четат, без да се налага да изтеглят или инсталират софтуер. В момента се извършва надстройка, за да стане подходяща за мобилни платформи. Подходящ за продажба на дребно и библиотека.</p>
    <br />

    <h3>Програма за имейл бюлетин</h3>
    <p>Ние създаваме 350 уникални, базирани на теми нови сигнали за заглавия всеки месец за стотици хиляди абонати за включване.</p>
    <br />

    <h3>Четири хиляди издатели</h3>
    <p>Ние поддържаме лицензионни споразумения, покриващи продукцията на над 4000 издатели. Нашите издателски партньори включват всички основни търговски преси на английски език, професионални и научни преси.</p>
    <br />

    <h3>Колекция от уникални, висококачествени заглавия</h3>
    <p>Компанията е домакин на 1,7 милиона професионално публикувани електронни книги, включително популярни търговски заглавия и професионални, образователни и научни текстове. Ние ги съхраняваме под формата на PDF и EPUB файлове.</p>
    <br />

    <h3>Портал за управление на издателите</h3>
    <p>Pi“ е нашият високо ценен, специализиран онлайн портал, където издателите могат да управляват своите предпочитания, да извличат отчети и т.н.</p>
    <br />

    <h3>Платформа за обработка на електронни книги</h3>
    <p>Издателите ни качват 25 000 електронни книги всеки месец. Нашата производствена единица е усъвършенствана и модифицирана постоянно от март 2000 г. и се е развила заедно с индустрията. Той се справя елегантно с всички сложности, породени от развиващия се сектор, включително дефектни файлове и метаданни, предоставени от издателите.</p>
    <br />

    <h3>Екипът</h3>
    <p>Дълбока, широка, подробна експертиза в областта. Компанията се състои от малък екип от дългогодишни специалисти по електронни книги. Най-новият ни служител беше ангажиран през 2010 г. Много други са с нас повече от 10 години; някои се връщат към 2001 г. Справедливо е да се каже, че нашият екип знае почти всичко за обработката, управлението и сигурното доставяне на електронни книги на глобална аудитория.</p>
</div>