@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div id="openweathermap-widget-22"></div>
<script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = []; window.myWidgetParam.push({ id: 22, cityid: '728193', appid: '8ddf331d29992dfa7c4d79539b314a02', units: 'metric', containerid: 'openweathermap-widget-22', }); (function () { var script = document.createElement('script'); script.async = true; script.charset = "utf-8"; script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js"; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s); })();</script>

<address>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d94665.25172062358!2d24.670834371779737!3d42.14409960161551!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14acd108a248763d%3A0x6470d1fa6f1338a0!2sPlovdiv!5e0!3m2!1sen!2sbg!4v1570638451624!5m2!1sen!2sbg" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="">
    </iframe>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>