@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GABINKA</h1>
    <p class="lead">Gabinka is a Youtuber and streamer.</p>
    <p><a href="https://www.youtube.com/channel/UCntAbspzWxkOaAsb0DAQF4w?view_as=subscriber" class="btn btn-primary btn-lg">Youtube &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Instagram</h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="https://www.instagram.com/gabriellaballeva/">Instagram &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Facebook</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://www.facebook.com/gabinka47">Learn more &raquo;</a></p>
    </div>
    
</div>