@{
    ViewBag.Title = "Свържете се с нас";
    ViewBag.Message = "Ние ще отговорим на Вашите въпроси по най - добрия и бърз възможен начин.";
}

<style> body { background-image: url('/Content/images/contact100.png'); } </style>

<h2>@ViewBag.Title</h2>

<div class="boxing" style="margin-top:20px">

    <table class="table">
        <tr>
            <th>
                Адрес:
            </th>
            <th>
                Телефон:
            </th>
            <th>
                Email:
            </th>
        </tr>
        <tr>
            <td>
                eBook.com<br />
                PO Box 3453, Broadway, Nedlands<br />
                WA 6009<br />
                Австралия<br />
            </td>
            <td>
                ABN (Фирмен номер): 14146279370<br />
                Австралия: 08 6245 3180<br />
                САЩ: 1-800-301-6090<br />
                Великобритания: 0800-689-3516<br />
            </td>
            <td>
                <a href="mailto:yoan.velyord@gmail.com">yoan.velyord@gmail.com</a>
            </td>
        </tr>
    </table>
</div>